<odoo>
  <menuitem id="menu_service_root" name="Servis Boshqaruvi"/>
  <menuitem id="menu_service_config" name="Konfiguratsiya" parent="menu_service_root" sequence="10"/>
  <menuitem id="menu_service_ops" name="Amaliyot" parent="menu_service_root" sequence="20"/>

  <menuitem id="menu_service_country" name="Davlatlar" parent="menu_service_config" action="action_service_country"/>
  <menuitem id="menu_service_state" name="Viloyatlar" parent="menu_service_config" action="action_service_state"/>
  <menuitem id="menu_service_district" name="Tumanlar" parent="menu_service_config" action="action_service_district"/>

  <menuitem id="menu_service_centers" name="Servis markazlari" parent="menu_service_ops" action="action_service_center"/>
  <menuitem id="menu_service_technicians" name="Ustalar" parent="menu_service_ops" action="action_service_technician"/>
  <menuitem id="menu_service_customers" name="Mijozlar" parent="menu_service_ops" action="action_service_customer"/>
  <menuitem id="menu_service_parts" name="Detal(lar)" parent="menu_service_ops" action="action_service_part"/>
  <menuitem id="menu_service_orders" name="Buyurtmalar" parent="menu_service_ops" action="action_service_order"/>
  <menuitem id="menu_service_payments" name="To‘lovlar" parent="menu_service_ops" action="action_service_payment"/>
  <menuitem id="menu_service_ratings" name="Baholar" parent="menu_service_ops" action="action_service_rating"/>
</odoo>
